# ignore everything but src/practica_busqueda/Agent.java and a few files
/*
!.gitignore
!README.md
!LICENSE
!memoria.md
!Makefile

!src/
src/*
!src/practica_busqueda/
src/practica_busqueda/*
!src/practica_busqueda/Agent.java
!src/practica_busqueda/AEstrella.java
