# ignore everything but src/practica_busqueda/Agent.java and a few files
/*
!.gitignore
!memoria.md
!Makefile
!memoria.pdf

!fuentes/
fuentes/*
!fuentes/practica_busqueda/
fuentes/practica_busqueda/*
!fuentes/practica_busqueda/Agent.java
!fuentes/practica_busqueda/AEstrella.java
!fuentes/practica_busqueda/Objective.java
!levels/
